{%extends "base.html"%}
{%block title%}Create Post{%endblock%}
{%block content%}
<div class="container">
    <h1 class="my-4 text-center fw-light">Create a post</h1>
    <form method="POST" action="{{ url_for('views.createPost') }}">
        <!-- Post Input Field -->
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
            <textarea name="text" id="text" class="form-control" rows="15"></textarea>
        </div>

        <!-- Post Button -->
        <button type="submit" class="btn btn-outline-secondary w-100">Post</button>
    </form>
</div>
{%endblock%}