{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <!-- Login Form Section -->
    <div class="container">
        <h1 class="my-4 text-center fw-light">Login</h1>
        <form method="POST">
            <!-- Email Input Field -->
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <!-- Password Input Field -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <!-- Login Button -->
            <button type="submit" class="btn btn-outline-secondary w-100">Login</button>
            <!-- Link to Registration Page -->
            <div class="mb-5">
                <a href="register" class="text-sm text-primary hover:underline">No account? Sign up here!</a>
            </div>
        </form>
    </div>
    <!-- End of Login Form Section -->
{% endblock %}
